<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/github/callback" method="post">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
         <label for="confirmPassword">confirm password</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <input type="hidden" value="<%=email%>" name="email">
         <input type="hidden" value="<%=name%>" name="name">
         <input type="hidden" name="provider" value="<%=provider%>" id="provider">
         <input type="hidden" name="providerAccountId" value="<%=providerAccountId%>">
          <span>
                <%if(errors && errors.length>0){%>
                    <%errors.forEach((error)=>{%>
                   <p class="erorr_class" id="warning"> <%=error%></p>
                   <%})%>
                <%}%>
            </span>
        <button type="submit">submit</button>
    </form>
</body>
</html>