<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <%- include('../partials/header') %>
      <div class="container">
        <h1>Profile Page</h1>
    <div>
        
       <%= user.name[0].toUpperCase()%>
    </div>
    <div>
        <ul>
    
    <!-- <p>userId:<%=user.id%></p> -->
   <li class="urls_li"><p>name:<%=user.name%></p></li> 
   <li class="urls_li"><p>email:<%=user.email%></p></li> 
   <li class="urls_li"><p>created:<%=user.createdAt%></p></li> 
   <li class="urls_li"><p>links:<%=user.links%></p></li> 
    </ul>
    </div>
    <div>
        <% if(user.isEmailValid) {%>
            <p>Email:✅Verified</p>
        <%}else{%>
            <p>Email:❌Not Verified</p>
             <a href="/verify-email">Verify Email</a>
            <%}%>
         <!-- <a href="/verify-email">Verify Email</a> -->
    </div>
    <hr>
    <div class="buttons_div">
    <button id="Shortner_button"><a href="/edit-password">Change password</a></button>
    <button id="Shortner_button"><a href="/edit-profile">Change name</a></button>
    <button id="Shortner_button"><a href="/logout">logout</a></button>
    </div>
    </div>
</body>
</html>