<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../views/partials/header.ejs') %>
   
    <div class="container">
          <div class="hello">
    <!-- <% if(user) {%>
        <p>USER Logged in</p>
      <%}else{%>
        <p>USER not logged in</p>
        <%}%> -->
        </div>
        <h1>URL Shortner</h1>
        <form action="/" method="post" class="Shortner_form">
            
            <div class="inpute_div">
                <label for="url">Enter url</label>
                <input type="url" id="url" name="url" required>
            </div>
            <div class="inpute_div">
                <label for="shortCode">Custom short code</label>
                <input type="text" id="shortCode" name="shortCode" required>
            </div>
             <span>
                <%if(errors && errors.length>0){%>
                    <%errors.forEach((error)=>{%>
                   <p class="erorr_class" id="warning"> <%=error%></p>
                   <%})%>
                <%}%>
            </span>
            <button type="submit" id="Shortner_button" >Shorten</button>
            </form>
            <h2>Shortend URL,s</h2>
            <ul class="urls_ul">
                <% link.
                map(({shortCode,url,id})=>{ %>
                    <%if(url.length>30)%>
                    <% let trimmed = url.slice(0, 30); %>
                    
            <li class="urls_li">
                 <div id="url_div">
                    <div id="url_first_div">
                 <a href="<%= shortCode %>" target="_blank"><%= host %>/<%= shortCode%></a>
                 <br/>
                 <p><%= trimmed%></p> </div>
                 <div id="url_second_div">
                 <a href="/edit/<%= id %>">✏️</a>
                 <form action="/delete/<%= id %>" method="post">
                    <button class="delete_button"> 🗑️</button>
                </form> 
                </div>
                </div>
            </li>
               
                    <% })%>
            </ul>
    </div>
</body>
</html>